@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #252230;
    text-decoration: inherit;
}

a:hover {
    color: #252230;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}


.bg-rounded {
    color: #fff;
    border: 0 solid transparent;
    background: #334AFF;
    border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%;
    padding: .5rem
}

.border-primary {
    border: 1px solid #4e5358;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #252230;
        background-color: #fff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }

    .border-primary {
        border: 1px solid #cbd5e0;
    }
}
.vue-notification-group {
    top: 1rem !important;
    right: 1rem !important;
}

.vue-notification {
    background: #334AFF ;
    border-radius: 0.125rem;
    border-left-color: #747bff;
    font-size: 16px;
}
.notification-title {
    padding: .5rem
}

.vue-notification.error {
    background: #f43f5e;
    border-left-color: #fb7185;
}
